 <div class="back__link">
	<a href="/index"><img src="/svg/arrow_back.svg">Go back</a>
</div>
<div class="form__card">
	
	<div class="card__body">
	<h3 class="title">Create account</h3>
	<input type="text" class="card__body__input" name="name" placeholder="Email (login)">
	<input type="text" class="card__body__input" name="name" placeholder="password">
	<span class="comment">Must be at least 8 characters</span>
	<input type="text" class="card__body__input" name="name" placeholder="Confirm password">
	<button class="btn btn-primary">Sign up</button>
	</div>
	
</div>