{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
	<section class="form">
        <div class="button__group">
            <div class="btn-group-vertical">
                <a><img src="/svg/bird.svg">  Contact</a>
                <a><img src="/svg/nav_item.svg">Organization</a>
                <a><img src="/svg/nav_item.svg">Resources usage</a>
                <a><img src="/svg/nav_item.svg">Place of instalation</a>
                <a><img src="/svg/nav_item.svg">Financial info</a>
                <a><img src="/svg/nav_item.svg">Solution</a>
                
            </div>
                        
            <div class="btn-sub">
                <a>To draft</a>
                <a>Submit</a>
            </div>
        </div>
        <div class="input__group">
            <div class="content">
                <h2 class="title">Organization</h2>
                <p class="text">* Required sections must be filled in</p>
            </div>
            <div class="input__form">
                <div class="header__form">
                    <div class="header__title">
                        <h3 class="title">About</h3>
                        <button type="submit">
                        <img src="/svg/bird.svg" alt="">
                        Collapse
                        </button>
                    </div>
                   
                </div>
                <div class="personal__data">
                    <input type="text" name="name" placeholder="Company name*" value="value">
                    <input type="text" name="name" placeholder="Registration number" value="value">
                    <select class="form-select">
                        <option selected>Organization form*</option>
                        <option value="1">private</option>
                        <option value="2">corporate</option>
                        <option value="3">fundation</option>
                    </select>
                    <select class="form-select">
                        <option selected>Type*</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-select">
                        <option selected>Field of activities*</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-select">
                        <option selected>Type of organization activities*</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <input type="text" name="name" placeholder="Description organization activities" value="value">
                    <div class="row col-4">
                        <input type="text" name="name" placeholder="phone number*" value="value">
                        <input type="text" name="name" placeholder="email*" value="value">    
                        <select class="form-select">
                            <option selected>position*</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                   
                </div>
            </div>
            <div class="input__form">
                <div class="header__form">
                    <div class="header__title">
                        <h3 class="title">Legal adress</h3>
                        <button type="submit">
                        <img src="/svg/bird.svg" alt="">
                        Collapse
                        </button>
                    </div>
                     
                    <div class="link__form">
                        <a href="#">Search field</a>
                        <a href="#">Address form</a>
                    </div>
                </div>
                <div class="address">
                    <select class="form-select">
                        <option selected>Property type*</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-select">
                        <option selected>State*</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-select">
                        <option selected>Sity*</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-select">
                        <option selected>Street*</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <div class="form-check">
                        <div>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Apartament
                            </label>
                        </div>
                        <div>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Private House
                            </label>
                        </div>
                    </div>
                    <input type="text" name="name" placeholder="Apartments №">
                    <input type="text" name="name" placeholder="Private house">
                    
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2408.132014052823!2d30.397015015482127!3d50.45025047928254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d5a168390a0553%3A0x40d5a168390a0553!2sKyiv%2C%20Kyiv%20city%2C%20Ukraine!5e0!3m2!1sru!2sua!4v1649692138827!5m2!1sru!2sua" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>
                   
                </div>
            </div>
            <div class="input__form">
                <div class="header__form">
                    <div class="header__title">
                        <h3 class="title">Operating mode</h3>
                        <button type="submit">
                            <img src="/svg/bird.svg">
                            Collapse
                        </button>
                    </div>
                    
                    <div class="link__form">
                        <a href="#">Hours a day</a>
                        <a href="#">From - To</a>
                    </div>
                </div>
                <div class="mode">
                    <input type="text" name="name" placeholder="Hours">
                    <div class="radio">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Monday</label>
                           
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Tuesday</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Wednesday</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Thursday</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Friday</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Saturday</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Sunday</label>
                        </div>
                        
                    </div>                                  
                </div>
            </div>
            
        </div>
    </section>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}