$colorMap: (
	light: #ffffff,
	border: #c1c6cc,
	dark: #121212,
	gray: #BDBDBD,
	main: rgba(42, 42, 245, 0.932),
	back: rgb(228, 226, 226),
	bgcmain: rgb(238, 236, 236),
	head: rgb(106, 165, 241),
);

@function color ($key) {
	@return map-get($colorMap, $key);
}