<section class="footer">
	<div class="footer__block">
		<div>
			<img src="/img/Logo.png" alt="logo">
		</div>
		<div class="footer__btn">
			<button class="btn btn-primary">Create Application</button>
			<button class="btn btn-outline-primary">Log In/Sign Up</button> 
		</div>
		
	</div>
	<div class="footer__block link-first">
		<a href="#">GreenU</a>
		<a href="#">News</a>
		<a href="#">Financing</a>
		<a href="#">Solutions</a>
		<a href="#">About</a>
	</div>
	<div class="footer__block link-second">
		<a href="#">GreenU</a>
		<a href="#">News</a>
		<a href="#">Financing</a>
		<a href="#">Solutions</a>
		<a href="#">About</a>
	</div>
	<div class="footer__block link-second">
		<a href="#">GreenU</a>
		<a href="#">News</a>
		<a href="#">Financing</a>
		<a href="#">Solutions</a>
		<a href="#">About</a>
	</div>

	<br>

	
</section>
<div class="footer__copyr">
		
	<small>Terms of use</small>

	<em>ndp.ua 2023 @ All rights reserved</em>
		
		
</div>